.list {
  display: flex;
  flex-wrap: wrap;

  min-width: 500px;
  gap: 10px;
}
.item {
  display: flex;
  flex-wrap: wrap;
  min-width: 180px;
  max-width: 220px;
  gap: 10px;
  text-align: start;
  padding: 10px 25px;
  border: 1px dashed green;
  border-radius: 5px;
  position: relative;
}
.title {
  margin-bottom: 10px;
  margin-top: 10px;
}
.chip {
  position: absolute;
  top: 4px;
  right: 4px;
  padding: 4px 8px;
  border-radius: 4px;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
}
.urgent {
  background-color: red;
}
.urgent.completed {
  background-color: grey;
  color: black;
}
.btn {
  border: none;
  background-color: transparent;
}
.btn:hover {
  color: red;
  scale: 1.2;
}
.completed {
  text-decoration: line-through;
  color: grey;
}
