.title {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  margin-top: 20px;
}
/* .list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
} */
.item {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 15px;
  text-align: left;
  margin-bottom: 15px;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.text {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}
.label {
  font-weight: 700;
}
.icon {
  color: red;
  cursor: pointer;
}
