/* AddGoodForm */
/* .container {
  display: grid;
  gap: 150px;
  grid-template-columns: repeat(2, 1fr);
} */
.form {
  margin-bottom: 30px;
}
.wrapper {
  max-width: 300px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 20px;
}
.label {
  text-align: left;
  font-size: 16px;
  font-weight: 700;
}
.input {
  cursor: pointer;
  padding: 5px 10px;
}
.btn {
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #3f51b5;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
  display: inline-block;
  color: #fff;
  border: 0;
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: 500;
  min-width: 180px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.deleteBtn {
  background-color: #f63535;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  font-weight: 500;
  min-width: 80px;
}
.btn:hover,
.btn:focus {
  background-color: #303f9f;
}
.deleteBtn:hover,
.deleteBtn:focus {
  background-color: #c02828;
}
/* GoodsList */
.list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.item {
  border: 1px solid #303f9f;
  border-radius: 4px;
  width: calc((100% - 20px * 4) / 5);
  padding: 5px 10px;
}
.name,
.description,
.price {
  text-align: left;
  font-size: 14px;
}
.name {
  font-weight: 700;
}
